apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
      - name: appli-pcs-backend
        image: appli-pcs-backend:1.0
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8080
